

<section class="flex flex-col space-y-5">

  <!-- Posesion - Corregir progress bar -->
  <div class="w-full space-y-2">
    <div class="grid grid-cols-3 text-xs font-semibold text-gray-700">
      <p class="flex justify-self-start">54%</p>
      <p class="flex justify-self-center">Posesión de balón</p>
      <p class="flex justify-self-end">46%</p>
    </div>

    <!-- Progress -->
    <div class="flex items-center gap-x-1">
      <div class="flex w-full h-2 overflow-hidden rounded-l bg-zinc-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col overflow-hidden text-xs text-center text-white transition duration-500 bg-red-600 rounded-l j-ustify-center whitespace-nowrap" style="width: 54%; transform: translateX(100%);"></div>
      </div>

      <div class="flex w-full h-2 overflow-hidden rounded-r bg-zinc-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col overflow-hidden text-xs text-center text-white transition duration-500 bg-black rounded-r j-ustify-center whitespace-nowrap" style="width: 46%;"></div>
      </div>
    </div>

  </div>

  <!-- Remates - Corregir progress bar -->
  <div class="w-full space-y-2">
    <div class="grid grid-cols-3 text-xs font-semibold text-gray-700">
      <p class="flex justify-self-start">21</p>
      <p class="flex justify-self-center">Remates</p>
      <p class="flex justify-self-end">10</p>
    </div>

    <!-- Progress -->
    <div class="flex items-center gap-x-1">
      <div class="flex w-full h-2 overflow-hidden rounded-l bg-zinc-300" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col justify-center overflow-hidden text-xs text-center text-white transition duration-500 bg-red-600 rounded-l whitespace-nowrap" style="width: 70%; transform: translateX(100%);"></div>
      </div>

      <div class="flex w-full h-2 overflow-hidden rounded-r bg-zinc-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col overflow-hidden text-xs text-center text-white transition duration-500 bg-black rounded-r j-ustify-center whitespace-nowrap" style="width: 50%;"></div>
      </div>
    </div>

  </div>

  <!-- Posesion - Corregir progress bar -->
  <div class="w-full space-y-2">
    <div class="grid grid-cols-3 text-xs font-semibold text-gray-700">
      <p class="flex justify-self-start">9</p>
      <p class="flex justify-self-center">Remate a puerta</p>
      <p class="flex justify-self-end">5</p>
    </div>

    <!-- Progress -->
    <div class="flex items-center gap-x-1">
      <div class="flex w-full h-2 overflow-hidden rounded-l bg-zinc-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col overflow-hidden text-xs text-center text-white transition duration-500 bg-red-600 rounded-l j-ustify-center whitespace-nowrap" style="width: 54%; transform: translateX(100%);"></div>
      </div>

      <div class="flex w-full h-2 overflow-hidden rounded-r bg-zinc-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col overflow-hidden text-xs text-center text-white transition duration-500 bg-black rounded-r j-ustify-center whitespace-nowrap" style="width: 46%;"></div>
      </div>
    </div>

  </div>

  <!-- Remates - Corregir progress bar -->
  <div class="w-full space-y-2">
    <div class="grid grid-cols-3 text-xs font-semibold text-gray-700">
      <p class="flex justify-self-start">22</p>
      <p class="flex justify-self-center">Tiros libres</p>
      <p class="flex justify-self-end">28</p>
    </div>

    <!-- Progress -->
    <div class="flex items-center gap-x-1">
      <div class="flex w-full h-2 overflow-hidden rounded-l bg-zinc-300" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col justify-center overflow-hidden text-xs text-center text-white transition duration-500 bg-red-600 rounded-l whitespace-nowrap" style="width: 70%; transform: translateX(100%);"></div>
      </div>

      <div class="flex w-full h-2 overflow-hidden rounded-r bg-zinc-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col overflow-hidden text-xs text-center text-white transition duration-500 bg-black rounded-r j-ustify-center whitespace-nowrap" style="width: 50%;"></div>
      </div>
    </div>

  </div>

  <!-- Posesion - Corregir progress bar -->
  <div class="w-full space-y-2">
    <div class="grid grid-cols-3 text-xs font-semibold text-gray-700">
      <p class="flex justify-self-start">6</p>
      <p class="flex justify-self-center">Córneres</p>
      <p class="flex justify-self-end">5</p>
    </div>

    <!-- Progress -->
    <div class="flex items-center gap-x-1">
      <div class="flex w-full h-2 overflow-hidden rounded-l bg-zinc-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col overflow-hidden text-xs text-center text-white transition duration-500 bg-red-600 rounded-l j-ustify-center whitespace-nowrap" style="width: 54%; transform: translateX(100%);"></div>
      </div>

      <div class="flex w-full h-2 overflow-hidden rounded-r bg-zinc-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col overflow-hidden text-xs text-center text-white transition duration-500 bg-black rounded-r j-ustify-center whitespace-nowrap" style="width: 46%;"></div>
      </div>
    </div>

  </div>

  <!-- Remates - Corregir progress bar -->
  <div class="w-full space-y-2">
    <div class="grid grid-cols-3 text-xs font-semibold text-gray-700">
      <p class="flex justify-self-start">26</p>
      <p class="flex justify-self-center">Faltas</p>
      <p class="flex justify-self-end">19</p>
    </div>

    <!-- Progress -->
    <div class="flex items-center gap-x-1">
      <div class="flex w-full h-2 overflow-hidden rounded-l bg-zinc-300" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col justify-center overflow-hidden text-xs text-center text-white transition duration-500 bg-red-600 rounded-l whitespace-nowrap" style="width: 70%; transform: translateX(100%);"></div>
      </div>

      <div class="flex w-full h-2 overflow-hidden rounded-r bg-zinc-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col overflow-hidden text-xs text-center text-white transition duration-500 bg-black rounded-r j-ustify-center whitespace-nowrap" style="width: 50%;"></div>
      </div>
    </div>

  </div>

  <!-- Posesion - Corregir progress bar -->
  <div class="w-full space-y-2">
    <div class="grid grid-cols-3 text-xs font-semibold text-gray-700">
      <p class="flex justify-self-start">4</p>
      <p class="flex justify-self-center">Tarjetas amarillas</p>
      <p class="flex justify-self-end">3</p>
    </div>

    <!-- Progress -->
    <div class="flex items-center gap-x-1">
      <div class="flex w-full h-2 overflow-hidden rounded-l bg-zinc-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col overflow-hidden text-xs text-center text-white transition duration-500 bg-red-600 rounded-l j-ustify-center whitespace-nowrap" style="width: 54%; transform: translateX(100%);"></div>
      </div>

      <div class="flex w-full h-2 overflow-hidden rounded-r bg-zinc-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="flex flex-col overflow-hidden text-xs text-center text-white transition duration-500 bg-black rounded-r j-ustify-center whitespace-nowrap" style="width: 46%;"></div>
      </div>
    </div>

  </div>

</section>
