

<div class="-m-1.5 overflow-x-auto">
  <div class="p-1.5 min-w-full inline-block align-middle">
    <div class="overflow-hidden">
      <table class="min-w-full divide-y-4 divide-white">
        <thead>
          <tr class="bg-gray-100 rounded-lg">
            <th scope="col" class="w-full px-4 py-2 text-xs font-medium uppercase rounded-l-lg text-start">Jugador</th>
            <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase">Tarjeta</th>
            <th scope="col" class="px-4 py-2 text-xs font-medium text-center uppercase rounded-r-lg">Jornada</th>
          </tr>
        </thead>
        <tbody class="font-medium divide-y divide-gray-200">

          <tr class="cursor-pointer hover:bg-zinc-100" routerLink="#">
            <td class="w-full px-4 py-2 text-xs text-gray-800 whitespace-nowrap">
              <div class="grid grid-cols-[auto_1fr] gap-x-4 w-fit items-center">
                <div class="flex items-center justify-center row-span-2 bg-white border rounded size-8">
                  <img class="rounded size-full"
                    src="https://cdn.futbin.com/content/fifa19/img/players/188545.png?v=23" alt="">
                </div>
                <p class="font-bold">Robert Lewandowski</p>
                <p class="text-gray-500">Barcelona</p>
              </div>
            </td>
            <td class="px-3 py-2 text-xs text-center text-gray-800 whitespace-nowrap">
              <div class="flex items-center justify-center gap-1 size-full">
                <div class="w-3 h-4 bg-yellow-400 rounded-sm"></div>
              </div>
            </td>
            <td class="px-3 py-2 text-xs text-center text-gray-800whitespace-nowrap">2</td>
          </tr>

          <tr class="cursor-pointer hover:bg-zinc-100" routerLink="#">
            <td class="w-full px-4 py-2 text-xs text-gray-800 whitespace-nowrap">
              <div class="grid grid-cols-[auto_1fr] gap-x-4 w-fit items-center">
                <div class="flex items-center justify-center row-span-2 bg-white border rounded size-8">
                  <img class="rounded size-full"
                    src="https://cdn.futbin.com/content/fifa19/img/players/188545.png?v=23" alt="">
                </div>
                <p class="font-bold">Robert Lewandowski</p>
                <p class="text-gray-500">Barcelona</p>
              </div>
            </td>
            <td class="px-3 py-2 text-xs text-center text-gray-800 whitespace-nowrap">
              <div class="flex items-center justify-center gap-1 size-full">
                <div class="w-3 h-4 bg-yellow-400 rounded-sm"></div>
              </div>
            </td>
            <td class="px-3 py-2 text-xs text-center text-gray-800whitespace-nowrap">2</td>
          </tr>

          <tr class="cursor-pointer hover:bg-zinc-100" routerLink="#">
            <td class="w-full px-4 py-2 text-xs text-gray-800 whitespace-nowrap">
              <div class="grid grid-cols-[auto_1fr] gap-x-4 w-fit items-center">
                <div class="flex items-center justify-center row-span-2 bg-white border rounded size-8">
                  <img class="rounded size-full"
                    src="https://cdn.futbin.com/content/fifa19/img/players/188545.png?v=23" alt="">
                </div>
                <p class="font-bold">Robert Lewandowski</p>
                <p class="text-gray-500">Barcelona</p>
              </div>
            </td>
            <td class="px-3 py-2 text-xs text-center text-gray-800 whitespace-nowrap">
              <div class="flex items-center justify-center gap-1 size-full">
                <div class="w-3 h-4 bg-red-600 rounded-sm"></div>
              </div>
            </td>
            <td class="px-3 py-2 text-xs text-center text-gray-800whitespace-nowrap">2</td>
          </tr>

          <tr class="cursor-pointer hover:bg-zinc-100" routerLink="#">
            <td class="w-full px-4 py-2 text-xs text-gray-800 whitespace-nowrap">
              <div class="grid grid-cols-[auto_1fr] gap-x-4 w-fit items-center">
                <div class="flex items-center justify-center row-span-2 bg-white border rounded size-8">
                  <img class="rounded size-full"
                    src="https://cdn.futbin.com/content/fifa19/img/players/188545.png?v=23" alt="">
                </div>
                <p class="font-bold">Robert Lewandowski</p>
                <p class="text-gray-500">Barcelona</p>
              </div>
            </td>
            <td class="px-3 py-2 text-xs text-center text-gray-800 whitespace-nowrap">
              <div class="flex items-center justify-center gap-1 size-full">
                <div class="w-3 h-4 bg-yellow-400 rounded-sm"></div>
              </div>
            </td>
            <td class="px-3 py-2 text-xs text-center text-gray-800whitespace-nowrap">2</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
