<nav class="w-[180px] text-xs space-y-10 ">

  <div class="text-gray-800 ">
    <p class="px-2 py-1 my-2 text-sm font-semibold uppercase border-b border-gray-300">LIGAS</p>

    <ul class="font-medium">
      <a routerLink="torneo/1" class="flex items-center px-2 py-1 rounded-md gap-x-2 hover:bg-zinc-100">
        <div class="flex items-center justify-center rounded-sm p-0.5 size-6 min-w-6 min-h-6">
          <img class="h-full"
            src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Bundesliga_logo_%282017%29.svg/640px-Bundesliga_logo_%282017%29.svg.png"
            alt="">
        </div>
        <p class="w-full overflow-hidden text-ellipsis whitespace-nowrap">Bundesliga</p>
      </a>

      <a routerLink="torneo/1" class="flex items-center px-2 py-1 rounded-md gap-x-2 hover:bg-zinc-100">
        <div class="flex items-center justify-center rounded-sm p-0.5 size-6 min-w-6 min-h-6">
          <img class="h-full"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Serie_A.svg/150px-Serie_A.svg.png" alt="">
        </div>
        <p class="w-full overflow-hidden text-ellipsis whitespace-nowrap">Serie A</p>
      </a>

      <a routerLink="torneo/1" class="flex items-center px-2 py-1 rounded-md gap-x-2 hover:bg-zinc-100">
        <div class="flex items-center justify-center rounded-sm p-0.5 size-6 min-w-6 min-h-6">
          <img class="h-full"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/LaLiga_logo_2023.svg/1200px-LaLiga_logo_2023.svg.png"
            alt="">
        </div>
        <p class="w-full overflow-hidden text-ellipsis whitespace-nowrap">La Liga</p>
      </a>

      <a routerLink="torneo/1" class="flex items-center px-2 py-1 rounded-md gap-x-2 hover:bg-zinc-100">
        <div class="flex items-center justify-center rounded-sm p-0.5 size-6 min-w-6 min-h-6">
          <img class="h-full"
            src="https://upload.wikimedia.org/wikinews/en/thumb/e/e2/UEFA_Champions_League_logo.png/640px-UEFA_Champions_League_logo.png"
            alt="">
        </div>
        <p class="w-full overflow-hidden text-ellipsis whitespace-nowrap">Champions League</p>
      </a>

    </ul>

  </div>


  <div class="text-gray-800 ">
    <p class="px-2 py-1 my-2 text-sm font-semibold uppercase border-b border-gray-300">equipos</p>

    <ul class="font-medium">
      <a routerLink="equipo/1" class="flex items-center px-2 py-1 rounded-md gap-x-2 hover:bg-zinc-100">
        <div class="flex items-center justify-center rounded-sm p-0.5 size-6 min-w-6 min-h-6">
          <img class="h-full"
            src="https://upload.wikimedia.org/wikipedia/en/thumb/5/53/Arsenal_FC.svg/1200px-Arsenal_FC.svg.png" alt="">
        </div>
        <p class="w-full overflow-hidden text-ellipsis whitespace-nowrap">Arsenal</p>
      </a>

      <a routerLink="equipo/1" class="flex items-center px-2 py-1 rounded-md gap-x-2 hover:bg-zinc-100">
        <div class="flex items-center justify-center rounded-sm p-0.5 size-6 min-w-6 min-h-6">
          <img class="h-full"
            src="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FC_Barcelona_%28crest%29.svg/2020px-FC_Barcelona_%28crest%29.svg.png"
            alt="">
        </div>
        <p class="w-full overflow-hidden text-ellipsis whitespace-nowrap">Barcelona</p>
      </a>

      <a routerLink="equipo/1" class="flex items-center px-2 py-1 rounded-md gap-x-2 hover:bg-zinc-100">
        <div class="flex items-center justify-center rounded-sm p-0.5 size-6 min-w-6 min-h-6">
          <img class="h-full" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Juventus_FC_2017_logo.png"
            alt="">
        </div>
        <p class="w-full overflow-hidden text-ellipsis whitespace-nowrap">Juventus</p>
      </a>

      <a routerLink="equipo/1" class="flex items-center px-2 py-1 rounded-md gap-x-2 hover:bg-zinc-100">
        <div class="flex items-center justify-center rounded-sm p-0.5 size-6 min-w-6 min-h-6">
          <img class="h-full"
            src="https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Real_Madrid_CF.svg/800px-Real_Madrid_CF.svg.png"
            alt="">
        </div>
        <p class="w-full overflow-hidden text-ellipsis whitespace-nowrap">Real Madrid</p>
      </a>

      <a routerLink="equipo/1" class="flex items-center px-2 py-1 text-red-600 rounded-md gap-x-2 hover:bg-zinc-100">
        <div class="flex items-center justify-center rounded-sm p-0.5 size-6 min-w-6 min-h-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-plus">
            <path d="M5 12h14" />
            <path d="M12 5v14" />
          </svg>
        </div>
        <p class="w-full overflow-hidden text-ellipsis whitespace-nowrap">AGREGAR EQUIPO</p>
      </a>

    </ul>

  </div>

</nav>
