<div class="space-y-10">
<section class="space-y-5">

  <h1 class="px-5 font-bold uppercase">Arqueros</h1>

  <div class="flex flex-col p-3 rounded-lg bg-gray-50">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y-8 divide-transparent">
            <thead>
              <tr class="bg-gray-100 rounded-lg">
                <th scope="col" class="px-4 py-2 text-xs font-medium text-center uppercase rounded-l-lg">#</th>
                <th scope="col" class="w-full px-4 py-2 text-xs font-medium uppercase text-start">NOMBRE</th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase">EDAD</th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase">PJ</th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase">G</th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase">A</th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase">
                  <div class="w-3 h-4 bg-red-600 rounded-sm"></div>
                </th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase rounded-r-lg">
                  <div class="w-3 h-4 bg-yellow-400 rounded-sm"></div>
                </th>
              </tr>
            </thead>
            <tbody class="font-medium divide-y divide-gray-200">
              <tr class="cursor-pointer hover:bg-white" routerLink="#">
                <td class="px-4 py-2 text-sm text-gray-800 rounded-l-lg w-fit whitespace-nowrap">1</td>
                <td class="w-full px-4 py-2 text-sm text-gray-800 whitespace-nowrap">
                  <div class="grid grid-cols-[auto_1fr] items-center gap-x-4 w-fit">
                    <div class="flex items-center justify-center p-0.5 bg-white border rounded-lg size-10">
                      <img class="size-full" src="https://cdn.futbin.com/content/fifa19/img/players/188545.png?v=23"
                        alt="">
                    </div>
                    <p>Robert Lewandowski</p>
                  </div>
                </td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">22</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">2</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-3 py-2 text-sm text-center text-gray-800 rounded-r-lg whitespace-nowrap">0</td>
              </tr>

              <tr class="cursor-pointer hover:bg-white" routerLink="#">
                <td class="px-4 py-2 text-sm text-gray-800 rounded-l-lg w-fit whitespace-nowrap">1</td>
                <td class="w-full px-4 py-2 text-sm text-gray-800 whitespace-nowrap">
                  <div class="grid grid-cols-[auto_1fr] items-center gap-x-4 w-fit">
                    <div class="flex items-center justify-center p-0.5 bg-white border rounded-lg size-10">
                      <img class="size-full" src="https://cdn.futbin.com/content/fifa19/img/players/188545.png?v=23"
                        alt="">
                    </div>
                    <p>Robert Lewandowski</p>
                  </div>
                </td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">22</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">2</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-3 py-2 text-sm text-center text-gray-800 rounded-r-lg whitespace-nowrap">0</td>
              </tr>

              <tr class="cursor-pointer hover:bg-white" routerLink="#">
                <td class="px-4 py-2 text-sm text-gray-800 rounded-l-lg w-fit whitespace-nowrap">1</td>
                <td class="w-full px-4 py-2 text-sm text-gray-800 whitespace-nowrap">
                  <div class="grid grid-cols-[auto_1fr] items-center gap-x-4 w-fit">
                    <div class="flex items-center justify-center p-0.5 bg-white border rounded-lg size-10">
                      <img class="size-full" src="https://cdn.futbin.com/content/fifa19/img/players/188545.png?v=23"
                        alt="">
                    </div>
                    <p>Robert Lewandowski</p>
                  </div>
                </td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">22</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">2</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-3 py-2 text-sm text-center text-gray-800 rounded-r-lg whitespace-nowrap">0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="space-y-5">

  <h1 class="px-5 font-bold uppercase">DEFENSAS</h1>

  <div class="flex flex-col p-3 rounded-lg bg-gray-50">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y-8 divide-transparent">
            <thead>
              <tr class="bg-gray-100 rounded-lg">
                <th scope="col" class="px-4 py-2 text-xs font-medium text-center uppercase rounded-l-lg">#</th>
                <th scope="col" class="w-full px-4 py-2 text-xs font-medium uppercase text-start">NOMBRE</th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase">EDAD</th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase">PJ</th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase">G</th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase">A</th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase">
                  <div class="w-3 h-4 bg-red-600 rounded-sm"></div>
                </th>
                <th scope="col" class="px-3 py-2 text-xs font-medium text-center uppercase rounded-r-lg">
                  <div class="w-3 h-4 bg-yellow-400 rounded-sm"></div>
                </th>
              </tr>
            </thead>
            <tbody class="font-medium divide-y divide-gray-200">
              <tr class="cursor-pointer hover:bg-white" routerLink="#">
                <td class="px-4 py-2 text-sm text-gray-800 rounded-l-lg w-fit whitespace-nowrap">1</td>
                <td class="w-full px-4 py-2 text-sm text-gray-800 whitespace-nowrap">
                  <div class="grid grid-cols-[auto_1fr] items-center gap-x-4 w-fit">
                    <div class="flex items-center justify-center p-0.5 bg-white border rounded-lg size-10">
                      <img class="size-full" src="https://cdn.futbin.com/content/fifa19/img/players/188545.png?v=23"
                        alt="">
                    </div>
                    <p>Robert Lewandowski</p>
                  </div>
                </td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">22</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">2</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-3 py-2 text-sm text-center text-gray-800 rounded-r-lg whitespace-nowrap">0</td>
              </tr>

              <tr class="cursor-pointer hover:bg-white" routerLink="#">
                <td class="px-4 py-2 text-sm text-gray-800 rounded-l-lg w-fit whitespace-nowrap">1</td>
                <td class="w-full px-4 py-2 text-sm text-gray-800 whitespace-nowrap">
                  <div class="grid grid-cols-[auto_1fr] items-center gap-x-4 w-fit">
                    <div class="flex items-center justify-center p-0.5 bg-white border rounded-lg size-10">
                      <img class="size-full" src="https://cdn.futbin.com/content/fifa19/img/players/188545.png?v=23"
                        alt="">
                    </div>
                    <p>Robert Lewandowski</p>
                  </div>
                </td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">22</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">2</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-3 py-2 text-sm text-center text-gray-800 rounded-r-lg whitespace-nowrap">0</td>
              </tr>

              <tr class="cursor-pointer hover:bg-white" routerLink="#">
                <td class="px-4 py-2 text-sm text-gray-800 rounded-l-lg w-fit whitespace-nowrap">1</td>
                <td class="w-full px-4 py-2 text-sm text-gray-800 whitespace-nowrap">
                  <div class="grid grid-cols-[auto_1fr] items-center gap-x-4 w-fit">
                    <div class="flex items-center justify-center p-0.5 bg-white border rounded-lg size-10">
                      <img class="size-full" src="https://cdn.futbin.com/content/fifa19/img/players/188545.png?v=23"
                        alt="">
                    </div>
                    <p>Robert Lewandowski</p>
                  </div>
                </td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">22</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">2</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-4 py-2 text-sm text-center text-gray-800 whitespace-nowrap">0</td>
                <td class="px-3 py-2 text-sm text-center text-gray-800 rounded-r-lg whitespace-nowrap">0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="space-y-5">

  <h1 class="px-5 font-bold uppercase">ENTRENADOR</h1>

  <div class="flex flex-col p-3 rounded-lg bg-gray-50">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y-8 divide-transparent">
            <thead>
              <tr class="bg-gray-100 rounded-lg">
                <th scope="col" colspan="2"
                  class="w-full px-4 py-2 text-xs font-medium uppercase rounded-lg text-start">NOMBRE</th>
              </tr>
            </thead>
            <tbody class="font-medium divide-y divide-gray-200">
              <tr class="cursor-pointer hover:bg-white" routerLink="#">
                <td class="w-full px-4 py-2 text-sm text-gray-800 rounded-lg whitespace-nowrap">
                  <div class="grid grid-cols-[auto_1fr] items-center gap-x-4 w-fit">
                    <div class="flex items-center justify-center p-0.5 bg-white border rounded-lg size-10">
                      <img class="size-full" src="https://cdn.futbin.com/content/fifa19/img/players/188545.png?v=23"
                        alt="">
                    </div>
                    <p>Robert Lewandowski</p>
                  </div>
                </td>
                <td class="px-3 py-2 text-sm text-center text-gray-800 rounded-r-lg whitespace-nowrap">22 años</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>
</div>
