<header class="flex flex-wrap w-full py-4 h-[100px] shadow-sm text-sm bg-white sm:justify-start sm:flex-nowrap">
  <nav class="max-w-[80rem] w-full mx-auto px-4 flex flex-wrap basis-full items-center justify-between">

    <a routerLink="/">
      <img src="logo.svg" alt="">
    </a>

    <div class="flex items-center sm:order-3 gap-x-5">

      <shared-search-box
        placeholder="Buscar"
      ></shared-search-box>

      <shared-button-primary
        title="Ingresar"
      ></shared-button-primary>

    </div>

  </nav>
</header>
