<header class="flex flex-wrap w-full py-3 text-sm bg-white sm:justify-start sm:flex-nowrap">
  <nav class="max-w-[85rem] w-full mx-auto px-4 flex flex-wrap basis-full items-center justify-between">
    <a class="flex-none text-xl font-semibold uppercase sm:order-1 focus:outline-none focus:opacity-80" href="#">ScoreApp</a>
    <div class="flex items-center sm:order-3 gap-x-2">

      <shared-button-primary
        title="Ingresar"
      ></shared-button-primary>

      <shared-button-secondary
        title="Ingresar"
      ></shared-button-secondary>

      <shared-search-box
        placeholder="Buscar..."
      ></shared-search-box>

    </div>

  </nav>
</header>
