<section class="space-y-2">

  <div class="px-3 py-1 text-xs font-bold tracking-wider text-center text-gray-700 uppercase rounded-md bg-zinc-200">
    {{ title }}
  </div>

  @if (type === 'detalle') {
    <!-- lista de jugadores con foto -->
    <div class="grid grid-cols-2 px-5 py-2">

      <!-- Local -->
      <div class="space-y-2 justify-self-start">

        <div
          class="grid grid-cols-[auto_auto] row-start-1 grid-rows-[auto_auto] w-fit text-xs items-center gap-x-2 gap-y-1">

          <div class="flex items-center justify-center row-span-2 bg-white border rounded size-10">
            <img class="h-full" src="https://as01.epimg.net/img/comunes/fotos/fichas/deportistas/m/mes/large/15167.png"
              alt="">
          </div>

          <div class="grid grid-cols-[auto_auto] items-center gap-x-2">
            <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Messi L.</a>
            <!-- Evento -->
            <div class="flex items-center gap-x-1">
              <div class="p-1 bg-white border rounded">
                <div class="w-2 h-3 bg-yellow-400 rounded-sm"></div>
              </div>
              <div class="p-1 bg-white border rounded">
                <img class="h-3" src="img/ball-soccer.jpg" alt="">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-[auto_auto_auto] items-center gap-x-2">
            <img class="h-3" src="img/sustitucion-symbol.png" alt="">
            <p class="font-medium text-gray-600">64'</p>
            <a routerLink="" class="font-medium text-gray-600 hover:underline underline-offset-2">Di Maria A.</a>
          </div>

        </div>

        <div
          class="grid grid-cols-[auto_auto] row-start-1 grid-rows-[auto_auto] w-fit text-xs items-center gap-x-2 gap-y-1">

          <div class="flex items-center justify-center row-span-2 bg-white border rounded size-10">
            <img class="h-full" src="https://as01.epimg.net/img/comunes/fotos/fichas/deportistas/m/mes/large/15167.png"
              alt="">
          </div>

          <div class="grid grid-cols-[auto_auto] items-center gap-x-2">
            <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Messi L.</a>
            <!-- Evento -->
            <div class="flex items-center gap-x-1">
              <div class="p-1 bg-white border rounded">
                <div class="w-2 h-3 bg-yellow-400 rounded-sm"></div>
              </div>
              <div class="p-1 bg-white border rounded">
                <img class="h-3" src="img/ball-soccer.jpg" alt="">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-[auto_auto_auto] items-center gap-x-2">
            <img class="h-3" src="img/sustitucion-symbol.png" alt="">
            <p class="font-medium text-gray-600">64'</p>
            <a routerLink="" class="font-medium text-gray-600 hover:underline underline-offset-2">Di Maria A.</a>
          </div>


        </div>

        <div
          class="grid grid-cols-[auto_auto] row-start-1 grid-rows-[auto_auto] w-fit text-xs items-center gap-x-2 gap-y-1">

          <div class="flex items-center justify-center row-span-2 bg-white border rounded size-10">
            <img class="h-full" src="https://as01.epimg.net/img/comunes/fotos/fichas/deportistas/m/mes/large/15167.png"
              alt="">
          </div>

          <div class="grid grid-cols-[auto_auto] items-center gap-x-2">
            <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Messi L.</a>
            <!-- Evento -->
            <div class="flex items-center gap-x-1">
              <div class="p-1 bg-white border rounded">
                <div class="w-2 h-3 bg-yellow-400 rounded-sm"></div>
              </div>
              <div class="p-1 bg-white border rounded">
                <img class="h-3" src="img/ball-soccer.jpg" alt="">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-[auto_auto_auto] items-center gap-x-2">
            <img class="h-3" src="img/sustitucion-symbol.png" alt="">
            <p class="font-medium text-gray-600">64'</p>
            <a routerLink="" class="font-medium text-gray-600 hover:underline underline-offset-2">Di Maria A.</a>
          </div>

          <div>

          </div>

        </div>

        <div
          class="grid grid-cols-[auto_auto] row-start-1 grid-rows-[auto_auto] w-fit text-xs items-center gap-x-2 gap-y-1">

          <div class="flex items-center justify-center row-span-2 bg-white border rounded size-10">
            <img class="h-full" src="https://as01.epimg.net/img/comunes/fotos/fichas/deportistas/m/mes/large/15167.png"
              alt="">
          </div>

          <div class="grid grid-cols-[auto_auto] items-center gap-x-2">
            <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Messi L.</a>
            <!-- Evento -->
            <div class="flex items-center gap-x-1">
              <div class="p-1 bg-white border rounded">
                <div class="w-2 h-3 bg-yellow-400 rounded-sm"></div>
              </div>
              <div class="p-1 bg-white border rounded">
                <img class="h-3" src="img/ball-soccer.jpg" alt="">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-[auto_auto_auto] items-center gap-x-2">
            <img class="h-3" src="img/sustitucion-symbol.png" alt="">
            <p class="font-medium text-gray-600">64'</p>
            <a routerLink="" class="font-medium text-gray-600 hover:underline underline-offset-2">Di Maria A.</a>
          </div>

          <div>

          </div>

        </div>

      </div>

      <!-- Visitante -->
      <div class="space-y-2 justify-self-end">

        <div class="grid grid-cols-[auto_auto] row-start-1 grid-rows-[auto_auto] w-fit text-xs gap-x-2 gap-y-1">

          <div class="grid grid-cols-[auto_auto] items-center gap-x-2 justify-self-end">
            <!-- Evento -->
            <div class="flex items-center gap-x-1">
              <div class="p-1 bg-white border rounded">
                <img class="h-3" src="img/ball-soccer.jpg" alt="">
              </div>
              <div class="p-1 bg-white border rounded">
                <div class="w-2 h-3 bg-yellow-400 rounded-sm"></div>
              </div>

            </div>

            <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Messi L.</a>

          </div>

          <div class="flex items-center justify-center row-span-2 bg-white border rounded size-10">
            <img class="h-full" src="https://as01.epimg.net/img/comunes/fotos/fichas/deportistas/m/mes/large/15167.png"
              alt="">
          </div>

          <div class="grid grid-cols-[auto_auto_auto] items-center gap-x-2">
            <a routerLink="" class="font-medium text-gray-600 hover:underline underline-offset-2">Di Maria A.</a>
            <p class="font-medium text-gray-600">64'</p>
            <img class="h-3" src="img/sustitucion-symbol.png" alt="">
          </div>

        </div>

      </div>

    </div>
  }

  @if(type === 'lista') {
    <div class="grid grid-cols-2 px-5 py-2">

      <!-- Local -->
      <div class="space-y-5">
        <div class="grid grid-cols-[32px_auto_auto] w-fit items-center text-xs gap-x-2">
          <p class="text-gray-600">10</p>
          <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Acuña M.</a>

          <!-- Evento -->
          <div class="grid w-fit grid-cols-[auto_auto] items-center gap-x-1">
            <div class="p-1 bg-white border rounded">
              <img class="h-3" src="img/ball-soccer.jpg" alt="">
            </div>
            <div class="p-1 bg-white border rounded">
              <div class="w-2 h-3 bg-yellow-400 rounded-sm"></div>
            </div>

          </div>

        </div>

        <div class="grid grid-cols-[32px_auto_auto] w-fit items-center text-xs gap-x-2">
          <p class="text-gray-600">10</p>
          <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Acuña M.</a>

          <!-- Evento -->
          <div class="grid w-fit grid-cols-[auto_auto] items-center gap-x-1">
            <div class="p-1 bg-white border rounded">
              <img class="h-3" src="img/sustitucion-symbol.png" alt="">
            </div>

          </div>

        </div>

        <div class="grid grid-cols-[32px_auto_auto] w-fit items-center text-xs gap-x-2">
          <p class="text-gray-600">10</p>
          <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Acuña M.</a>
        </div>
      </div>

      <!-- Visitante -->
      <div class="space-y-5 justify-self-end">
        <div class="grid grid-cols-[auto_auto_32px] w-fit items-center text-xs gap-x-2">
          <!-- Evento -->
          <div class="grid w-fit grid-cols-[auto_auto] items-center gap-x-1">
            <div class="p-1 bg-white border rounded">
              <img class="h-3" src="img/ball-soccer.jpg" alt="">
            </div>
            <div class="p-1 bg-white border rounded">
              <div class="w-2 h-3 bg-yellow-400 rounded-sm"></div>
            </div>

          </div>

          <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Acuña M.</a>

          <p class="order-3 text-gray-600 text-end">10</p>

        </div>

        <div class="grid grid-cols-[auto_auto_32px] w-fit items-center text-xs gap-x-2">
          <!-- Evento -->
          <div class="grid w-fit grid-cols-[auto_auto] items-center gap-x-1">
            <div class="p-1 bg-white border rounded">
              <img class="h-3" src="img/ball-soccer.jpg" alt="">
            </div>
            <div class="p-1 bg-white border rounded">
              <div class="w-2 h-3 bg-yellow-400 rounded-sm"></div>
            </div>

          </div>

          <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Acuña M.</a>

          <p class="order-3 text-gray-600 text-end">10</p>

        </div>
        <div class="grid grid-cols-[auto_auto_32px] w-fit items-center text-xs gap-x-2">
          <!-- Evento -->
          <div class="grid w-fit grid-cols-[auto_auto] items-center gap-x-1">
            <div class="p-1 bg-white border rounded">
              <img class="h-3" src="img/ball-soccer.jpg" alt="">
            </div>
            <div class="p-1 bg-white border rounded">
              <div class="w-2 h-3 bg-yellow-400 rounded-sm"></div>
            </div>

          </div>

          <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Acuña M.</a>

          <p class="order-3 text-gray-600 text-end">10</p>

        </div>
        <div class="grid grid-cols-[auto_auto_32px] w-fit items-center text-xs gap-x-2">
          <!-- Evento -->
          <div class="grid w-fit grid-cols-[auto_auto] items-center gap-x-1">
            <div class="p-1 bg-white border rounded">
              <img class="h-3" src="img/ball-soccer.jpg" alt="">
            </div>
            <div class="p-1 bg-white border rounded">
              <div class="w-2 h-3 bg-yellow-400 rounded-sm"></div>
            </div>

          </div>

          <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Acuña M.</a>

          <p class="order-3 text-gray-600 text-end">10</p>

        </div>
        <div class="grid grid-cols-[auto_auto_32px] w-fit items-center text-xs gap-x-2">
          <!-- Evento -->
          <div class="grid w-fit grid-cols-[auto_auto] items-center gap-x-1">
            <div class="p-1 bg-white border rounded">
              <img class="h-3" src="img/ball-soccer.jpg" alt="">
            </div>
            <div class="p-1 bg-white border rounded">
              <div class="w-2 h-3 bg-yellow-400 rounded-sm"></div>
            </div>

          </div>

          <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2">Acuña M.</a>

          <p class="order-3 text-gray-600 text-end">10</p>

        </div>
      </div>

    </div>
  }

  @if(type === 'entrenadores') {
    <div class="grid grid-cols-2 px-5 text-xs">
      <div class="flex items-center gap-x-3">
        <div class="bg-white border rounded-md size-8">
          <img class="h-full" src="https://as01.epimg.net/img/comunes/fotos/fichas/deportistas/m/mes/large/15167.png"
            alt="">
        </div>
        <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2 ">Scaloni L.</a>
      </div>

      <div class="flex items-center gap-x-3 justify-self-end">
        <div class="flex items-center gap-x-3">
          <a routerLink="" class="font-semibold text-gray-800 hover:underline underline-offset-2 ">Scaloni L.</a>
          <div class="bg-white border rounded-md size-8">
            <img class="h-full" src="https://as01.epimg.net/img/comunes/fotos/fichas/deportistas/m/mes/large/15167.png"
              alt="">
          </div>
        </div>
      </div>
    </div>
  }

</section>
