<div class="grid grid-cols-3 gap-x-5">

  <section class="w-full p-2 text-sm text-gray-800 rounded-lg bg-gray-50">
    <div class="px-3 py-2 font-bold uppercase bg-gray-100 rounded-lg">FORMATO DE TORNEO</div>

    <div class="grid grid-cols-[auto_1fr] px-3 my-5 gap-y-5 gap-x-3">

      <div class="flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-table-of-contents size-5">
          <path d="M16 12H3" />
          <path d="M16 18H3" />
          <path d="M16 6H3" />
          <path d="M21 12h.01" />
          <path d="M21 18h.01" />
          <path d="M21 6h.01" />
        </svg>
      </div>

      <div>
        <h1 class="font-bold">1° - 4° puesto: <span class="font-normal">Pase a semifinal</span></h1>
        <h1 class="font-bold">5° - 8° puesto: <span class="font-normal">Pase a cuartos</span></h1>
      </div>


      <div class="flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-calendar size-5">
          <path d="M8 2v4" />
          <path d="M16 2v4" />
          <rect width="18" height="18" x="3" y="4" rx="2" />
          <path d="M3 10h18" />
        </svg>
      </div>
      <h1 class="font-bold uppercase">JORNADAS SEMANALES</h1>


      <div class="flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-users-round size-5">
          <path d="M18 21a8 8 0 0 0-16 0" />
          <circle cx="10" cy="8" r="5" />
          <path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3" />
        </svg>
      </div>
      <div>
        <h1 class="font-bold uppercase">Max jugadores: 23</h1>
        <h1 class="font-bold uppercase">Min jugadores: 7</h1>

      </div>
    </div>

  </section>



  <section class="w-full p-2 text-sm text-gray-800 rounded-lg bg-gray-50">
    <div class="px-3 py-2 font-bold uppercase bg-gray-100 rounded-lg">FORMATO DE JUEGO</div>

    <div class="grid grid-cols-[auto_1fr] px-3 my-5 gap-y-5 gap-x-3">

      <div class="flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-timer size-7">
          <line x1="10" x2="14" y1="2" y2="2" />
          <line x1="12" x2="15" y1="14" y2="11" />
          <circle cx="12" cy="14" r="8" />
        </svg>
      </div>

      <div>
        <h1 class="font-bold uppercase">Tiempo de juego: 70 min. totales</h1>
        <p class="">35 min. por mitad </p>
      </div>


      <div class="flex items-center justify-center">
        <img src="logo-min.svg" alt="" class="size-5">
      </div>
      <h1 class="font-bold uppercase">PENALES: SI</h1>


      <div class="flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-users-round size-5">
          <path d="M18 21a8 8 0 0 0-16 0" />
          <circle cx="10" cy="8" r="5" />
          <path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3" />
        </svg>
      </div>
      <h1 class="font-bold uppercase">NRO DE JUGADORES: 7</h1>

    </div>

  </section>


  <section class="w-full p-2 text-sm text-gray-800 rounded-lg bg-gray-50">
    <div class="px-3 py-2 font-bold uppercase bg-gray-100 rounded-lg">SANCIONES</div>

    <div class="grid grid-cols-[auto_1fr] px-3 my-5 gap-y-5 gap-x-3">

      <div class="flex items-center justify-center text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f2937">
          <path
            d="m159-168-34-14q-31-13-41.5-45t3.5-63l72-156v278Zm160 88q-33 0-56.5-23.5T239-160v-240l106 294q3 7 6 13.5t8 12.5h-40Zm206-4q-32 12-62-3t-42-47L243-622q-12-32 2-62.5t46-41.5l302-110q32-12 62 3t42 47l178 488q12 32-2 62.5T827-194L525-84Zm-86-476q17 0 28.5-11.5T479-600q0-17-11.5-28.5T439-640q-17 0-28.5 11.5T399-600q0 17 11.5 28.5T439-560Zm58 400 302-110-178-490-302 110 178 490ZM319-650l302-110-302 110Z" />
        </svg>
      </div>
      <div>
        <h1 class="font-bold">2 AMARILLAS: <span class="font-normal"> 1 fecha</span></h1>
        <h1 class="font-bold">1 ROJA: <span class="font-normal">3 fechas</span> </h1>
      </div>

    </div>
  </section>

</div>
