
<div class="space-y-2">

  <section class="p-4 space-y-2 bg-white rounded-lg">

    <div
      class="grid grid-cols-3 px-3 py-1 text-xs font-bold tracking-wider text-gray-700 uppercase rounded-md bg-zinc-200">
      <p class="justify-self-start">4 - 1 - 2 - 3</p>
      <p class="justify-self-center">SISTEMA DE JUEGO</p>
      <p class="justify-self-end">4 - 1 - 2 - 3</p>
    </div>

    <div class="">
      <img class="w-full" src="img/lineups.png" alt="">
    </div>

  </section>

  <section class="p-4 space-y-2 bg-white rounded-lg">
    <shared-table-lineups title="JUGADORES SUPLENTES" type="detalle"/>
  </section>

  <section class="p-4 space-y-2 bg-white rounded-lg">
    <shared-table-lineups title="ALINEACIONES INICIALES" type="lista"/>
  </section>

  <section class="p-4 space-y-2 bg-white rounded-lg">
    <shared-table-lineups title="SUPLENTES" type="lista"/>
  </section>

  <section class="p-4 space-y-2 bg-white rounded-lg">
    <shared-table-lineups title="ENTRENADORES" type="entrenadores"/>
  </section>

</div>
