
<shared-navbar></shared-navbar>

<section
  class="max-w-[80rem] w-full mx-auto px-4 flex items-center gap-5 py-5">

  <img class="p-1 bg-white border rounded-lg size-16"
    src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Bundesliga_logo_%282017%29.svg/800px-Bundesliga_logo_%282017%29.svg.png"
    alt="bundesliga"
  >

  <div class="font-bold">
    <p>Bundesliga</p>
    <p class="text-sm text-gray-700">2024-2025</p>
  </div>

</section>

<shared-navlink></shared-navlink>

<div class="max-w-[80rem] w-full mx-auto px-4">
  <router-outlet></router-outlet>

</div>
