<style>
  a {
    display: flex;
    padding: 16px 0px 10px 0px;
    border-color: transparent;
    color: #6b7280;
    letter-spacing: 1px;
  }

  a:hover {
    color: #1f2937;
  }

  .active {
    color: #dc2626;
    border-color: #dc2626;
    pointer-events: none;
  }
</style>


<div class="space-y-2">

  <section class="p-4 bg-white rounded-lg">

    <article class="grid grid-cols-[auto_auto] grid-rows-[auto_auto] gap-x-5 w-fit items-center">

      <!-- logo -->
      <div class="row-span-2 p-1 bg-white border rounded border-zinc-200 size-16 ">
        <img class="h-full"
          src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Bundesliga_logo_%282017%29.svg/640px-Bundesliga_logo_%282017%29.svg.png"
          alt="">
      </div>

      <!-- torneo -->
      <p class="text-lg font-bold">Bundesliga</p>

      <!-- temporada y jornada -->
      <p class="text-xs font-semibold text-gray-500">2024/2025</p>

    </article>

  </section>


  <section class="px-4 text-sm bg-white rounded-lg">

    <div class="flex items-center h-full text-xs font-semibold gap-x-10">

      <a routerLink="resumen" routerLinkActive="active"
        class="border-b-[3px]">RESUMEN</a>

      <a routerLink="resultados" routerLinkActive="active"
        class="border-b-[3px]">RESULTADOS</a>

      <a routerLink="enfrentamientos" routerLinkActive="active"
        class="border-b-[3px]">PARTIDOS</a>

      <a routerLink="clasificacion" routerLinkActive="active"
        class="border-b-[3px]">CLASIFICACIÓN</a>

    </div>
  </section>


  <section>
    <router-outlet />
  </section>

</div>
