<nav class="max-w-[80rem] mx-auto px-4 flex flex-wrap basis-full items-center justify-between">


  <div class="flex items-center gap-3 py-5 mx-auto text-sm uppercase">

    <a routerLink="resumen" routerLinkActive="border-aztec-800 font-bold"
    class="px-5 py-2 font-medium border-b-2 border-transparent hover:border-aztec-800">resumen</a>

    <a routerLink="alineacion" routerLinkActive="border-aztect-800 font-bold"
    class="px-5 py-2 font-medium border-b-2 border-transparent hover:border-aztec-800">alineación</a>

    <a routerLink="h2h" routerLinkActive="border-aztect-800 font-bold"
    class="px-5 py-2 font-medium border-b-2 border-transparent hover:border-aztec-800">h2h</a>

    <a routerLink="clasificacion" routerLinkActive="border-aztec-800 font-bold"
    class="px-5 py-2 font-medium border-b-2 border-transparent hover:border-aztec-800">clasificación</a>

  </div>


</nav>
