

<div class="flex flex-col p-3 rounded-lg bg-gray-50">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table class="min-w-full divide-y-8 divide-transparent">
          <thead>
            <tr>
              <th scope="col" colspan="4" class="px-5 py-1 text-sm font-bold uppercase bg-gray-100 rounded-lg text-start">

                <a routerLink="/torneo/1"  class="flex items-center gap-x-2 w-fit hover:underline underline-offset-4">
                  <img class="bg-white border rounded-md size-7 p-0.5"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Bundesliga_logo_%282017%29.svg/800px-Bundesliga_logo_%282017%29.svg.png"
                  alt="bundesliga">
                  <p>Nombre del torneo</p>
                </a>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y">

            <tr class="text-sm cursor-pointer hover:bg-white" routerLink="#">
              <td class="px-5 py-2 font-medium rounded-l-lg whitespace-nowrap text-start">01.09 10:30</td>

              <td class="w-full px-5 py-2 whitespace-nowrap text-start">
                <div class="w-full space-y-1">
                  <a routerLink="#" class="flex items-center gap-2 font-bold hover:underline w-fit underline-offset-4">
                    <div class="flex items-center justify-center size-5">
                      <img class="h-full"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/2048px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png" alt="">
                    </div>
                    <p>Bayern Munich</p>
                  </a>
                  <a routerLink="#" class="flex items-center gap-2 font-semibold hover:underline w-fit underline-offset-4">
                    <div class="flex items-center justify-center size-5">
                      <img class="h-full"
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD1F-2qRrMuCWlHXmLDctYd-tCyK6JzCks8Q&s" alt="">
                    </div>
                    <p>Friburgo</p>
                  </a>
                </div>
              </td>

              <td class="px-5 py-2 whitespace-nowrap">
                <div class="space-y-1 font-semibold text-center">
                  <p class="font-bold">2</p>
                  <p>1</p>
                </div>
              </td>

              <td class="px-5 py-2 rounded-r-lg whitespace-nowrap">
                <div class="flex items-center justify-center font-semibold text-white bg-green-600 rounded-md size-6">
                  G
                </div>
              </td>
            </tr>

            <tr class="text-sm cursor-pointer hover:bg-white" routerLink="#">
              <td class="px-5 py-2 font-medium rounded-l-lg whitespace-nowrap text-start">01.09 10:30</td>

              <td class="w-full px-5 py-2 whitespace-nowrap text-start">
                <div class="w-full space-y-1">
                  <a routerLink="#" class="flex items-center gap-2 font-bold hover:underline w-fit underline-offset-4">
                    <div class="flex items-center justify-center size-5">
                      <img class="h-5"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/2048px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png" alt="">
                    </div>
                    <p>Bayern Munich</p>
                  </a>
                  <a routerLink="#" class="flex items-center gap-2 font-semibold hover:underline w-fit underline-offset-4">
                    <div class="flex items-center justify-center size-5">
                      <img class="h-5"
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD1F-2qRrMuCWlHXmLDctYd-tCyK6JzCks8Q&s" alt="">
                    </div>
                    <p>Friburgo</p>
                  </a>
                </div>
              </td>

              <td class="px-5 py-2 whitespace-nowrap">
                <div class="space-y-1 font-semibold text-center">
                  <p class="font-bold">2</p>
                  <p>1</p>
                </div>
              </td>

              <td class="px-5 py-2 rounded-r-lg whitespace-nowrap">
                <div class="flex items-center justify-center font-semibold text-white bg-yellow-500 rounded-md size-6">
                  E
                </div>
              </td>
            </tr>

            <tr class="text-sm cursor-pointer hover:bg-white" routerLink="#">
              <td class="px-5 py-2 font-medium rounded-l-lg whitespace-nowrap text-start">01.09 10:30</td>

              <td class="w-full px-5 py-2 whitespace-nowrap text-start">
                <div class="w-full space-y-1">
                  <a routerLink="#" class="flex items-center gap-2 font-bold hover:underline w-fit underline-offset-4">
                    <div class="flex items-center justify-center size-5">
                      <img class="h-5"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/2048px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png" alt="">
                    </div>
                    <p>Bayern Munich</p>
                  </a>
                  <a routerLink="#" class="flex items-center gap-2 font-semibold hover:underline w-fit underline-offset-4">
                    <div class="flex items-center justify-center size-5">
                      <img class="h-5"
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD1F-2qRrMuCWlHXmLDctYd-tCyK6JzCks8Q&s" alt="">
                    </div>
                    <p>Friburgo</p>
                  </a>
                </div>
              </td>

              <td class="px-5 py-2 whitespace-nowrap">
                <div class="space-y-1 font-semibold text-center">
                  <p class="font-bold">2</p>
                  <p>1</p>
                </div>
              </td>

              <td class="px-5 py-2 rounded-r-lg whitespace-nowrap">
                <div class="flex items-center justify-center font-semibold text-white bg-red-600 rounded-md size-6">
                  P
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
