
<shared-navbar></shared-navbar>

<section
  class="max-w-[80rem] w-full mx-auto px-4 flex items-center gap-5 py-5">

  <img class="p-1 bg-white border rounded-lg size-16"
    src="https://static.flashscore.com/res/image/data/htYjIjFa-fL3dmxxd.png"
    alt="bundesliga"
  >

  <div class="font-bold">
    <p>AC Milan</p>
    <p class="text-sm font-semibold text-gray-700">Entrenador: Fonseca Paulo</p>
  </div>

</section>

<shared-navlink-team></shared-navlink-team>

<div class="max-w-[80rem] w-full mx-auto px-4">
  <router-outlet></router-outlet>

</div>
