<div class="space-y-4">

  <section class="space-y-1">

    <div class="px-3 py-2 text-xs font-semibold text-gray-500 rounded-md bg-zinc-200">
      <p>ÚLTIMOS PARTIDOS: WERDER BREMEN</p>
    </div>

    <div>

      <a routerLink=""
        class="hover:bg-zinc-100 border-zinc-300 items-center gap-x-5 bg-white text-xs grid grid-cols-[auto_auto_1fr_auto_1fr] px-3 py-2 border-b">

        <p class="text-gray-500">21.09.24</p>

        <div class="flex items-center gap-x-2">
          <div class="flex justify-center size-4">
            <img class="h-full"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Bundesliga_logo_%282017%29.svg/640px-Bundesliga_logo_%282017%29.svg.png"
              alt="">
          </div>
          <p class="font-bold text-gray-800">BUN</p>
        </div>

        <div class="grid grid-cols-[auto_auto] text-gray-800 w-fit grid-rows-2 gap-2">
          <div class="flex justify-center size-4">
            <img class="h-full"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/SV-Werder-Bremen-Logo.svg/1200px-SV-Werder-Bremen-Logo.svg.png"
              alt="">
          </div>
          <p>Werder Bremen</p>
          <div class="flex justify-center size-4">
            <img class="h-full"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/2048px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png"
              alt="">
          </div>
          <p class="font-semibold">Bayern Munich</p>
        </div>

        <div class="space-y-2 text-xs text-center text-gray-800 text-gr">
          <p>0</p>
          <p class="font-bold">5</p>
        </div>

        <div class="text-xs font-bold text-white justify-self-end">
          <p class="flex items-center justify-center p-1 bg-green-600 rounded size-5">G</p>
        </div>

      </a>

      <a routerLink=""
        class="hover:bg-zinc-100 border-zinc-300 items-center gap-x-5 bg-white text-xs grid grid-cols-[auto_auto_1fr_auto_1fr] px-3 py-2 border-b">

        <p class="text-gray-500">21.09.24</p>

        <div class="flex items-center gap-x-2">
          <div class="flex justify-center size-4">
            <img class="h-full"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Bundesliga_logo_%282017%29.svg/640px-Bundesliga_logo_%282017%29.svg.png"
              alt="">
          </div>
          <p class="font-bold text-gray-800">BUN</p>
        </div>

        <div class="grid grid-cols-[auto_auto] text-gray-800 w-fit grid-rows-2 gap-2">
          <div class="flex justify-center size-4">
            <img class="h-full"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/SV-Werder-Bremen-Logo.svg/1200px-SV-Werder-Bremen-Logo.svg.png"
              alt="">
          </div>
          <p>Werder Bremen</p>
          <div class="flex justify-center size-4">
            <img class="h-full"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/2048px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png"
              alt="">
          </div>
          <p class="font-semibold">Bayern Munich</p>
        </div>

        <div class="space-y-2 text-xs text-center text-gray-800 text-gr">
          <p>0</p>
          <p class="font-bold">5</p>
        </div>

        <div class="text-xs font-bold text-white justify-self-end">
          <p class="flex items-center justify-center p-1 bg-yellow-500 rounded size-5">E</p>
        </div>

      </a>

      <a routerLink=""
        class="hover:bg-zinc-100 border-zinc-300 items-center gap-x-5 bg-white text-xs grid grid-cols-[auto_auto_1fr_auto_1fr] px-3 py-2 border-b">

        <p class="text-gray-500">21.09.24</p>

        <div class="flex items-center gap-x-2">
          <div class="flex justify-center size-4">
            <img class="h-full"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Bundesliga_logo_%282017%29.svg/640px-Bundesliga_logo_%282017%29.svg.png"
              alt="">
          </div>
          <p class="font-bold text-gray-800">BUN</p>
        </div>

        <div class="grid grid-cols-[auto_auto] text-gray-800 w-fit grid-rows-2 gap-2">
          <div class="flex justify-center size-4">
            <img class="h-full"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/SV-Werder-Bremen-Logo.svg/1200px-SV-Werder-Bremen-Logo.svg.png"
              alt="">
          </div>
          <p>Werder Bremen</p>
          <div class="flex justify-center size-4">
            <img class="h-full"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/2048px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png"
              alt="">
          </div>
          <p class="font-semibold">Bayern Munich</p>
        </div>

        <div class="space-y-2 text-xs text-center text-gray-800 text-gr">
          <p>0</p>
          <p class="font-bold">5</p>
        </div>

        <div class="text-xs font-bold text-white justify-self-end">
          <p class="flex items-center justify-center p-1 bg-red-600 rounded size-5">P</p>
        </div>

      </a>

    </div>

  </section>


  <div class="flex justify-center w-full">
    <a routerLink=""
      class="px-4 py-2 text-xs font-semibold text-gray-800 rounded-lg underline-offset-2 hover:bg-gray-100">Mostrar
      más</a>
  </div>

</div>
