

<div class="space-y-2">

  <!-- Partidos de hoy -->
  <section class="p-4 space-y-3 bg-white rounded-lg">

    <h1 class="font-semibold text-gray-800">Partidos de hoy</h1>

    <div>
      <shared-match-tournament></shared-match-tournament>
    </div>

  </section>



  <!-- Proximos -->
  <section class="p-4 space-y-3 bg-white rounded-lg">

    <h1 class="font-semibold text-gray-800">Próximos</h1>

    <div>
      <shared-match-round></shared-match-round>
    </div>

  </section>



  <!-- Ultimos resultados -->
  <section class="p-4 space-y-3 bg-white rounded-lg">

    <h1 class="font-semibold text-gray-800">Últimos Resultados</h1>

    <div>
      <shared-match-round></shared-match-round>
    </div>

  </section>


  <!-- Tabla -->
  <section>
    <user-tournament-standings></user-tournament-standings>
  </section>

</div>
